<div class=""></div>
<ng-template #CartEmpty>
  <div class="container text-center h2 my-3"> Cart Is Empty</div>
</ng-template>
<section *ngIf="userDataCart?.numOfCartItems > 0 ; else CartEmpty " class="container bg-light my-5 p-5 rounded-3">
  <div class="row  ">
    <div class=" col-6 d-flex align-items-center justify-content-start">
      <h2 class="h3">Cart Shop</h2>
    </div>
    <div class="col-6  d-flex align-items-center justify-content-end">
      <button class="main-btn p-2  " *ngIf="userDataCart?.numOfCartItems>0">Chech Out</button>
    </div>
  </div>
  <div class="row  ">
    <div class=" col-6 d-flex align-items-center justify-content-start">
      <div class=" text-center">
        <h3 class="h5">
          total price:
        </h3>
        <span class="text-main  h5">{{ userDataCart?.data?.totalCartPrice }}</span>
      </div>
    </div>
    <div class="col-6  d-flex align-items-center justify-content-end">
      <div class="text-center">
        <h3 class="h5">
          total number of items:
          <span class="text-main h5">{{ userDataCart?.numOfCartItems }}</span>
        </h3>
      </div>
    </div>
  </div>

  <div *ngFor="let item of userDataCart?.data?.products" class="row my-2 py-2 border-bottom d-flex align-items-center">
    <div class="col-xl-3 col-lg-4 col-sm-6">
      <img class="w-100 rounded-3" [src]="item?.product?.imageCover" alt="{{item?.product?.title}}">
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 my-sm-2">
      <div class="row d-flex justify-content-center align-items-center">
        <h4 class="h5 col-xl-6 col-lg-6 col-md-6 col-sm-12 my-sm-2">{{item?.product?.title}}</h4>
        <h4 class="h6 col-xl-6 col-lg-6 col-md-6 col-sm-12 my-sm-2">{{item.price | currency: ' '  }} EGP</h4>
        <span (click)="removeItem(item?.product?._id)" role="button" class="text-danger"><i
            class="fa-regular fa-trash-can my-sm-2"></i> Remove</span>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-sm-6 my-sm-2 d-flex justify-content-center align-items-center">
      <div>
        <button #BTN1 (click)="updateCartProductQuantity(item?.product?._id ,item?.count+1 , BTN1 , BTN2)" role="button"
          class=" border-main py-2 px-3 ">+</button>
        <span class="mx-3">{{item?.count}}</span>
        <button #BTN2 [disabled]="item?.count<2"
          (click)="updateCartProductQuantity(item?.product?._id ,item?.count-1 , BTN1 , BTN2)" role="button"
          class=" border-main py-2 px-3  ">-</button>
      </div>
    </div>
  </div>

  <div class="row  my-3">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <button [routerLink]="['/payment' , userDataCart?.data?._id]" class="btn main-btn ">Online Payment <img
          class="visa-img" src="assets/Images/visa-1.svg" alt=""></button>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <button (click)="ClearUserCart()" class="btn btn-danger  ">Remove Cart <i class="fa-regular fa-trash-can"></i>
      </button>
    </div>
  </div>
</section>
