<section class="py-5 bg-light">

    <div class="container">
        <h5>Get The FreshCart App</h5>
        <p class="text-muted font-sm">we will send you alink, open in on your phone to download the app.</p>
        <div class="row d-flex align-items-center ">
            <div class="col-8">
                <input class="form-control form-control-sm" type="email" placeholder="Email...">
            </div>
            <div class="col-4">
                <button class=" font-sm bg-main btn btn-sm btn-success ">Share App Link</button>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
                <p class="m-0 font-sm">Payment Parteners</p>
                <img src="assets/Images/master.svg" alt="">
                <img src="assets/Images/visa.svg" alt="">
                <img src="assets/Images/visa-1.svg" alt="">
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <p class="m-0 font-sm">Get deliveries with FreshCart</p>
                <!-- <img class="" src="assets/Images/app-store.svg" alt="">
                <img src="assets/Images/google-store.svg" alt=""> -->
            </div>
        </div>
        <hr>
    </div>
</section>