<section class="container ">
    <h2 class="h5 my-3">Please Enter Your Email Address</h2>
    <form (ngSubmit)="sendEmailForgotPassword()" [formGroup]="emailForm" >
    <input formControlName="email" class="form-control my-3" type="email" placeholder="Enter Your Email">
    <button [disabled]="emailForm.invalid" class="btn main-btn">
        <span *ngIf="!spin">send email </span>
        <span *ngIf="spin"><i  class=" fa-solid fa-circle-notch fa-spin"></i></span>

    </button>
    
</form>
</section>